et.x86 filter=lfs diff=lfs merge=lfs -text
etded.x86 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.roq filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.pk3 filter=lfs diff=lfs merge=lfs -text
pbweb.x86 filter=lfs diff=lfs merge=lfs -text
pb/html/* filter=lfs diff=lfs merge=lfs -text
tcetest/cgame_mac filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
tcetest/ui_mac filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
tcetest/qagame_mac.bundle/Contents/MacOS/qagame_mac filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
*.pax.gz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
pb_home/htm/* filter=lfs diff=lfs merge=lfs -text
/Vagrantfile export-ignore
.gitignore export-ignore
.gitattributes export-ignore
